.header-container {
  width: 100%;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  background-color: White;
  height: 10vh;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: White;
  /* width: 100vw; */
}

.nav-item {
  margin-left: 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.logo {
  height: 5rem;
}

.link {
  font-size: 1rem;
}

.nav-bar {
  background-color: #fff;
}
