.home-container-lp {
  background-image: url("../../public/glenn-carstens-peters-2E_dT65fyxo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-LP {
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text-LP {
    font-size: 3rem;
    text-align: center;
  }
  text-container-lp {
    height: 50%;
    width: 50%;
  }
}

.text-container-lp {
  height: 50%;
  width: 90%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--container-color);
  border-radius: 20px;
  margin: auto;
  align-items: center;
  padding: 1rem;
  background: rgba(142, 142, 128, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
  height: 12%;
  padding: 10px;
  width: 50%;
  border-style: none;
  background-color: var(--bg-color);
  margin-right: 20px;
  border-radius: 2rem;
  opacity: 1;
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 240px;
}

a {
  text-decoration: none;
  color: black;
}
