.shadow {
  background: #ebeaef;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img-pi {
  align-self: center;
  border-top-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  width: 100%;
}

.card-title {
  height: 60px;
  color: black;
  font-size: 0.9rem;
  padding: 0.1rem;
}
.card-category {
  color: gray;
}
.card-text {
  font-size: 0.9rem;
}

.card-body {
  line-height: 1;
  font-size: clamp(1rem, 1vw, 3rem);
  padding: 0.2rem;
}
.button-pi {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.ratings-container {
  display: flex;
  justify-content: space-between;
}

/* .shadow:hover {
  height: 1.1;
  margin: 10px;
} */

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: column;

    height: 200px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  .img-pi {
    height: 200px;
  }
}
