.home-container-wp {
  height: 90vh;
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("../../public/glenn-carstens-peters-2E_dT65fyxo-unsplash.jpg");
}

.text-wp-title {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
.text-container-wp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 80%;
  max-width: 600px;
  height: 60%;
  border-radius: 20px;
  margin: auto;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  padding: 0.5rem;
  box-shadow: -2px 3px 31px 0px rgba(28, 24, 24, 0.66);
  -webkit-box-shadow: -2px 3px 31px 0px rgba(28, 24, 24, 0.66);
  -moz-box-shadow: -2px 3px 31px 0px rgba(28, 24, 24, 0.66);

  padding: 1rem;
}

.reset-button {
  height: 40px;
  padding: 10px;
  width: 50%;
  border-style: none;
  background-color: var(--bg-color);
  margin-right: 20px;
  border-radius: 10px;
  opacity: 2;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 250px;
}
