.container-pd {
  border-radius: 2rem;
  background: linear-gradient(145deg, #fafafa, #ffffff);
  box-shadow: 13px 13px 37px #999999, -13px -13px 37px #ffffff;
  width: 80vw;
  margin: auto;
  box-sizing: border-box;
  padding: 0.5rem;
}

.main-container-pd {
  background-color: #e2e2e2;
}

.image-container-pd {
  width: 100%;
  align-self: center;
  border-radius: 2rem;
}

.price {
  padding: 10px;
  border-radius: 2rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 13px 13px 37px #999999, -13px -13px 37px #ffffff;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
}
.add-cart {
  background-color: #f19d13;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.buy-now {
  background-color: #ea5f1a;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.title-pd {
  font-size: 1.3rem;
  font-weight: 900;
}

.description-pd {
  font-size: 1.1rem;
}
.image-pd {
  width: 93%;
  height: 50%;
  border-radius: 2rem;
  /* outline: 1px solid red; */
}

@media screen and (min-width: 768px) {
  .image-container-pd {
    width: 100%;
  }

  .btn {
    width: 140px;
  }
  .main-container-pd {
    height: 90vh;
  }
}
