.no-product-container {
  background-image: url("../../public/Selection_001.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.img-np {
  height: auto;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .no-product-container {
    height: 80vh;
  }
}
