@import url("https://fonts.googleapis.com/css2?family=Rokkitt&family=Tangerine:wght@700&display=swap");

body {
  font-family: "Playfair Display", serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Rokkitt", serif;
}

:root {
  --bg-color: #ce9461;
  --container-color: white;
}
body {
  color: black;
  font-size: 16px;
}

.main-container-sf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url("/public/glenn-carstens-peters-2E_dT65fyxo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.form-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 90%;
  border-radius: 20px;
  max-width: 450px;
  margin: auto;
  align-items: center; */
  opacity: 0.8;
  background-color: var(--container-color);

  background: rgba(142, 142, 128, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
  font-size: 3rem;
  margin: 20px 0px;
  font-weight: 900;
  font-family: "Rokkitt", serif;
  font-family: "Tangerine", cursive;
}

.ageInput {
  height: 1.5rem;
  width: 100%;
  align-self: flex-start;
}
#myForm {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem;
  width: 90%;
  /* gap: 0.5rem; */
  box-sizing: border-box;
  /* padding: 1rem 0rem; */
  font-size: 1.2rem;
}
input {
  border-radius: 10px;
  height: 1.5rem;
  padding: 0.4rem;
  border-style: none;
  background-color: var(--container-color);
  font-size: 1rem;
}
select {
  height: 2.4rem;
  width: 100%;
  padding: 0.4rem;
  border-radius: 10px;
  background-color: var(--container-color);
  border-style: none;
  font-size: 1rem;
}

.element-container {
  width: 100%;
}
.first-option {
  color: grey;
}
.image-text-container {
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 10px;
}

.icon {
  font-size: 1.2rem;
  margin: 0.1rem 0.4rem;
  flex-shrink: 0;
}

#firstName {
  width: 100%;
}
#lastName {
  width: 100%;
}
#email {
  width: 100%;
}
#password {
  width: 90%;
  border-style: none;
}
#repeatPassword {
  width: 100%;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-size: 1.2rem;
  background-color: tra;
  /* margin-left: -0.8rem; */
  text-align: left;
}
.error-msg {
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 10px 2px;
  line-height: 1.5;
  align-self: flex-start;
  text-align: left;
}
.button-container {
  width: 80%;
}
.submit-btn {
  height: 40px;
  padding: 10px;
  width: 50%;
  border-style: none;
  background-color: var(--bg-color);
  margin-right: 20px;
  border-radius: 10px;
  opacity: 2;
  font-size: 1.2rem;
  font-weight: 600;
}

.password-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.logo {
  height: 80px;
  width: 80px;
}

#message {
  font-weight: 300;
  margin: 20px 2px;
}

.success {
  color: green;
  font-size: 1.2rem;
}
.test {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-right: 0rem;
  width: 100%;
  height: 1.5rem;
  padding: 0.4rem;
  padding-left: 0rem;
}

.hide {
  display: none;
}

.eyeicon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 10%;
}

input {
  background-color: rgba(142, 142, 128, 0.25);
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
select {
  background: rgba(142, 142, 128, 0.25);
}

/* .image-text-container {
  display: flex;
  align-items: center;
} */

@media screen and (min-width: 768px) {
  .right-margin {
    margin-right: 10px;
  }
  .main-container-sf {
    height: 90vh;
  }

  .title {
    font-size: 4rem;
  }
  label {
    font-size: 1rem;
  }
  .form-container {
    max-width: 550px;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 3%;
    min-height: 80%;
  }
  .element-container {
    width: 100%;
  }

  .image-text-container {
    width: 100%;
  }
  #myForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    gap: 1rem;
    box-sizing: border-box;
    padding: 1rem 0rem;
  }

  .element-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 47%;
  }
  #firstName {
    width: 100%;
  }
  #lastName {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  #password {
    width: 80%;
    border-style: none;
  }
  #repeatPassword {
    width: 100%;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .email-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 97%;
    box-sizing: border-box;
  }

  .error-msg {
    color: red;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 2px;
    line-height: 1.5;
  }

  .submit-btn {
    height: 40px;
    width: 180px;
    padding: 10px;
    border-style: none;
    margin-right: 20px;
    border-radius: 10px;
    align-self: center;
  }

  .password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 46%;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  #message {
    font-weight: 300;
    margin: 10px 2px;
  }

  .success {
    color: green;
    font-size: 2rem;
  }
  .test {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding-right: 0rem;
  }

  .hide {
    display: none;
  }

  /* .eyeicon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 10%;
  } */
  .button-container {
    align-self: center;
  }
}
