.error-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.error-img {
  width: 100%;
  order: -1;
  border-radius: 1rem;
}
.text-er {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .error-container {
    margin-left: 12%;
    height: 70vh;
    width: 70vw;

    flex-direction: row;
  }
  .error-img {
    width: 50%;
    order: 0;
  }
  .text-er {
    margin: auto;
    order: -1;
  }
}
