/* .App {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  /* outline: solid 1px red; */
}

* {
  margin: 0px;
  padding: 0px;
  color: #1d1c1c;
  /* outline: 1px solid red; */
}

.container-app {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
  box-sizing: border-box;
}
