.products-container {
  width: 100%;
  align-items: center;
  background-color: #e2e2e2;
  min-height: 90vh;
}

.row {
  padding: 0px !important;
  --bs-gutter-x: 0px;
}

/* @media screen and (min-width: 768px) {
  .products-container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
} */
